In [42]:
import csv
import mysql.connector
import pandas as pd

In [33]:
conn = mysql.connector.connect(
    host='database.cbg3amltio47.us-east-2.rds.amazonaws.com', port=3306,
    user='admin', password='adminadmin',
    database='mydb')
crsr = conn.cursor()

In [40]:
query = 'SELECT * FROM mydb.`Maison _Appartement`;'

In [43]:
results = pd.read_sql_query(query, conn)
results.to_csv("house_prices.csv", index=False)