In [42]:
import csv
import mysql.connector
import pandas as pd

In [33]:
conn = mysql.connector.connect(
    host='database.cbg3amltio47.us-east-2.rds.amazonaws.com', port=3306,
    user='admin', password='adminadmin',
    database='mydb')
crsr = conn.cursor()

In [ ]:
#full_data

In [40]:
query = 'SELECT * FROM mydb.`Maison _Appartement`;'

In [43]:
results = pd.read_sql_query(query, conn)
results.to_csv("house_prices.csv", index=False)

In [ ]:
# années > 1000 h1_annee.csv

In [ ]:
query_2 = 'SELECT * FROM mydb.`Maison _Appartement`, WHERE année >1000;'

In [ ]:
results_2 = pd.read_sql_query(query_2, conn)
results.to_csv("h1_annee.csv", index=False)

In [ ]:
# années < 1000 h2_false.csv

In [ ]:
query_3 = 'SELECT * FROM mydb.`Maison _Appartement`, WHERE année <1000;'

In [ ]:
results_3 = pd.read_sql_query(query_3, conn)
results.to_csv("h2_false.csv", index=False)